*{
  padding: 0;
  margin: 0;
  list-style: none;
}

html,body,#root,.App,.index{
  width: 100%;
  height: 100%;
}

#root,.App{
  display: flex;
  flex-direction: column;
}
.index{
display: flex;
}

.rigth{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 8%;
  height: 100%;
  background: red;
}


.left{
  width: 90%;
  height: 100%;
  background: gray;
}